<h1>Premailer API Beta</h1>

<h2><span>Preview Version 0.1</span></h2>

<p>Premailer is now available via an API, so you can tie it in to your own apps.</p>

<p>This is a preview release and may change over the next little while. All feedback is most welcome and can be sent to 'code' at dialect.ca.</p>

<p>We're still working out the best model for this API going forward.  Ideally we'd like to run it by donation.  In the longterm, if ever we decide to discontinue the service we will give 30 days notice and post the complete source code for the web interface at that time.  Hopefully that makes your future planning a little easier.</p>

<p><a href="https://github.com/Synchro">Marcus Bointon</a> kindly put together a <a href="https://gist.github.com/1204853">PHP wrapper class for the Premailer API</a> to get things started.</p>

<h3>Sending a request</h3>

<p>The Premailer API is accessed via an <tt>HTTP POST</tt> to <tt>http://premailer.dialect.ca/api/0.1/documents</tt></p>

<p>One of either the <tt>url</tt> or <tt>html</tt> fields must be provided. All other fields are optional.</p>

<table summary="Premailer API request fields">
<caption>Request fields</caption>
<thead>
  <tr>
    <th>Field</th>
    <th>Data type</th>
    <th>Description</th>
    <th>Values</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="property">url</td>
    <td class="type">string</td>
    <td>URL of the source file</td>
    <td class="values"></td>
  </tr>
  <tr>
    <td class="property">html</td>
    <td class="type">string</td>
    <td>Raw HTML source</td>
    <td class="values"></td>
  </tr>
  <tr>
    <td class="property">base_url</td>
    <td class="type">string</td>
    <td>Base URL for converting relative links</td>
    <td class="values"></td>
  </tr>
  <tr>
    <td class="property">line_length</td>
    <td class="type">int</td>
    <td>Length of lines in the plain text version</td>
    <td class="values">Default is <tt>65</tt></td>
  </tr>
  <tr>
    <td class="property">link_query_string</td>
    <td class="type">string</td>
    <td>Query string appended to links</td>
    <td class="values"></td>
  </tr>
  <tr>
    <td class="property">preserve_styles</td>
    <td class="type">boolean</td>
    <td>Whether to preserve any <tt>link rel=stylesheet</tt> and <tt>style</tt> elements</td>
    <td class="values"><tt>true</tt> (default)<br><tt>false</tt></td>
  </tr>
  <tr>
    <td class="property">remove_ids</td>
    <td class="type">string</td>
    <td>Remove IDs from the HTML document?</td>
    <td class="values"><tt>true</tt><br><tt>false</tt> (default)</td>
  </tr>
  <tr>
    <td class="property">remove_classes</td>
    <td class="type">string</td>
    <td>Remove classes from the HTML document?</td>
    <td class="values"><tt>true</tt><br><tt>false</tt> (default)</td>
  </tr>
  <tr>
    <td class="property">remove_comments</td>
    <td class="type">string</td>
    <td>Remove comments from the HTML document?</td>
    <td class="values"><tt>true</tt><br><tt>false</tt> (default)</td>
  </tr>

</tbody>
</table>



<h3>Receiving the response</h3>

<p>Premailer serves the response as JSON data with the <tt>application/json</tt> mime type encoded as <tt>UTF-8</tt>.</p>

<p>The result will have a status code of 201, 400, 403 or 500.</p>

<p>The response includes links to the generated HTML and plain text files.  The URL of the resulting HTML file is also set in the <tt>Location: </tt> header.  These links are valid for two hours (specified in the <tt>Expires</tt> header).</p>

<table summary="Premailer API response fields">
<caption>Response fields</caption>
<thead>
  <tr>
    <th>Field</th>
    <th>Data type</th>
    <th>Description</th>

    <th>Values</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="property">status</td>
    <td class="type">int</td>
    <td>Response code</td>
    <td class="values">
      <tt>201</tt> on success<br>
      <tt>400</tt> on missing source file<br>
      <tt>500</tt> on error<br>
    </td>
  </tr>
  <tr>
    <td class="property">message</td>
    <td class="type">string</td>
    <td>Response message</td>
    <td class="values"></td>
  </tr>
  <tr>
    <td class="property">version</td>
    <td class="type">string</td>
    <td>The API version</td>
    <td class="values">0.1</td>
  </tr>
  <tr>
    <td class="property">documents</td>
    <td class="type">object/hash</td>
    <td></td>
    <td class="values"></td>
  </tr>
  <tr>
    <td class="property">documents['html']</td>
    <td class="type">string</td>
    <td>URL to processed HTML results</td>
    <td class="values"></td>
  </tr>
  <tr>
    <td class="property">documents['txt']</td>
    <td class="type">string</td>
    <td>URL to processed plain-text results</td>
    <td class="values"></td>
  </tr>
  <tr>
    <td class="property">options</td>
    <td class="type">object/hash</td>
    <td>Echoed configuration options used by Premailer for this request</td>
    <td class="values"></td>
  </tr>
</tbody>
</table>

<h3>Example of a Premailer JSON response</h3>
<pre><code>
HTTP/1.1 201 Created
Content-Type: application/json;charset=utf-8
Location: https://s3.amazonaws.com/premailer/aaaa.html?params
Cache-Control: private, max-age=7200
Expires: Wed, 07 Sep 2011 23:15:04 GMT

  {
      "version": "0.1",
      "status": 201,
      "message": "Created",
      "options": {
          "adapter": "hpricot",
          "line_length": 60,
          "preserve_styles": true,
          "remove_ids": true,
          "remove_classes": false,
          "remove_comments": false
      },
      "documents": {
          "html": "https://s3.amazonaws.com/premailer/aaaa.html?params",
          "txt": "https://s3.amazonaws.com/premailer/aaaa.txt?params"
      }
  }
</code></pre>
