<div class="container">




    <form method="post" action="/" id="premailer_form">

      <div class="row mb-3 field text"  id="process_url">
        <div class="col col-md-4">
          <label class="btn btn-primary toggle" id="process_url_label">Use a URL as the source</label>
        </div>

        <div class="col col-md-auto">
          <div class="toggleable-inputs">
            <input type="hidden" name="content_source" id="content_source" value="url">
            <input type="text" class='text form-control-lg' id="url" name="url" value="<%= @initial_doc %>">
            <p><small>Don&rsquo;t forget http://</small></p>
          </div>
        </div>
      </div>


      <div class="row mb-3 field textarea" id="process_html">
        <div class="col col-md-4">
        <label class="btn btn-secondary toggle" id="process_html_label">Paste HTML as the source

        </label>
        </div>

        <div class="col col-md-auto">
        <div class="toggleable-inputs">
          <input type="hidden" name="content_source" id="content_source" value="html">
          <textarea id="html" name="html" cols="20" rows="5" class="text form-control-lg"></textarea>
          <p><small>Make sure you use absolute URLs.</small></p>
        </div>
        </div>
      </div>


    <div class="row mb-3 field optional text">
      <div class="col col-md-4">
      <label class="form-label" for="querystring">Query string to append to links
        <span class="sublabel">Useful for adding tracking codes.</span>
        </label>
        </div>

        <div class="col col-md-auto">
      <input type="text" id="querystring" name="querystring" class="form-control-lg text" value="">
      </div>

    </div>

    <div class="optional field mb-3">
      <h4>Options</h4>
      <div class="checkboxes">
        <div class="form-check">
        <label class="form-check-label"><input type="checkbox" class="form-check-input" id="remove_classes" name="remove_classes" value="yes"> Remove classes</label>
        </div>
        <div class="form-check">
        <label class="form-check-label"><input type="checkbox" class="form-check-input" id="remove_ids" name="remove_ids" value="yes"> Remove unused IDs</label>
        </div>
        <div class="form-check">
        <label class="form-check-label"><input type="checkbox" class="form-check-input" id="remove_comments" name="remove_comments" value="yes"> Remove comments</label><br>
        </div>
        <div class="form-check">
        <label class="form-check-label"><input type="checkbox" class="form-check-input" id="preserve_styles" name="preserve_styles" value="yes"> Don’t remove &lt;style&gt; and &lt;link&gt; elements</label>
        </div>

      </div>
    </div>

    <div class="mb-3 field button">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>




  <div id="about-premailer">
  <h2><span>What is this?</span></h2>

  <p>For the best HTML e-mail delivery results, CSS should be inline.  This is a huge pain and a simple newsletter becomes un-managable very quickly.  This script is our solution.</p>

  <ul class="big">
    <li class="mb-2">CSS styles are converted to inline style attributes<br />

        <em>Checks <tt>style</tt> and <tt>link[rel=stylesheet]</tt> tags and preserves existing inline attributes</em>
    </li>
    <li class="mb-2">Relative paths are converted to absolute paths<br />
        <em>Checks links in <tt>href</tt>, <tt>src</tt> and CSS <tt>url('')</tt></em>

    </li>
    <li class="mb-2">CSS properties are checked against e-mail client capabilities<br />
        <em>Based on the <a href="http://www.email-standards.org/">Email Standards Project&rsquo;s guides</a></em>
    </li>
    <li class="mb-2">A plain text version is created</li>
  </ul>

  <p>A few things to note:</p>
  <ul>
    <li class="mb-2">Things can get messy very quickly with the <tt>*</tt> selector&mdash;be careful</li>
    <li class="mb-2">Only the <tt>screen</tt>, <tt>handheld</tt> and <tt>all</tt> media types are processed</li>
  </ul>
</div>
