!!!
%html
  %head
    %meta{:charset=>'utf-8'}
    %title Premailer: pre-flight for HTML email
    %meta{:name=>'author', :content=>'Dialect (http://dialect.ca/)'}
    %meta{:name=>'description', :content=>'Premailer: preflight for HTML e-mail.  Makes CSS inline, converts links and warns about unsupported code'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=> 'http://fast.fonts.com/cssapi/b52d9922-6932-42b2-9d6f-48e3653a54af.css?1'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=> 'http://dialect.ca/inc/screen.min.css'}
    /[if lt IE 8]
      %link{:rel=>'stylesheet', :type=>'text/css', :href=> 'http://dialect.ca/inc/ie.css'}
    /[if lte IE 6]
      %link{:rel=>'stylesheet', :type=>'text/css', :href=> 'http://dialect.ca/inc/ie6.css'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=> '/inc/premailer.css'}
    :javascript
      document.documentElement.className = 'js';
      
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      
      try {
      var pageTracker = _gat._getTracker("UA-4707751-2");
      <% if @analytics_page %>
      pageTracker._trackPageview('<%= @analytics_page %>');
      <% else %>
      pageTracker._trackPageview();
      <% end %>
      } catch(err) {}
      
      
    %script{:type=>'text/javascript',:src=>'http://dialect.ca/inc/lib.min.js'}

  %body.code
  %div#container.vcard

    %header
      %div#logo
        %a{:href=>"http://dialect.ca/", :rel=>"home"}.org.fn Dialect

      %nav
        %ul#nav
          %li.first
            %a{:href=>"http://premailer.dialect.ca/", :rel=>"home"} Premailer
          %li
            %a{:href=>"http://dialect.ca/#studies", :rel=>"studies"} Work
          %li
            %a{:href=>"http://dialect.ca/#contact", :rel=>"contact"} Contact
    

    %div#page
      %div#content
        = yield


      
      :javascript
        $(document).ready(function () {
          $('#process_html').hide();
          $('#process_url_label').click(function () {
            $('#process_url').show();
            $('#process_html').hide();
            $('#content_source').val('url');
          });

          $('#process_html_label').click(function () {
            $('#process_url').hide();
            $('#process_html').show();
            $('#content_source').val('html');
          });



          $('.premailer_output').click(function () {
            $('.premailer_output').height('auto');
            $(this).height(400);

          });
        });

    %section#contact
      %h2 Contact
      %p
        %a.email{:href=>"mailto:code@dialect.ca"} code@dialect.ca
      
    
    %footer
      %div
        %a{:href=>"http://dialect.ca/"}
          %img{:src=>"http://dialect.ca/inc/logo-sm.png", :width=>38,:height=>28, :alt=>'Dialect logo'}
        %p#legal
          %a{:href=>"http://dialect.ca/code/"} Code &bull; Copyright 2011 Dialect Communications Group
    
