<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Premailer: pre-flight for HTML email</title>
  <meta name="author" content="Dialect (http://dialect.ca/)">
  <meta name="description" content="Premailer: preflight for HTML e-mail.  Makes CSS inline, converts links and warns about unsupported code.">
	<link href="http://fast.fonts.com/cssapi/b52d9922-6932-42b2-9d6f-48e3653a54af.css?1" rel="stylesheet" type="text/css" />	
	<link rel="stylesheet" type="text/css" href="http://dialect.ca/inc/screen.min.css">
	<script type="text/javascript"> document.documentElement.className = 'js'; </script>
	<script type="text/javascript" src="http://dialect.ca/inc/lib.min.js"></script>
	<!--[if lt IE 8]> <link rel="stylesheet" type="text/css" href="http://dialect.ca/inc/ie.css"> <![endif]-->
	<!--[if lte IE 6]> <link rel="stylesheet" type="text/css" href="http://dialect.ca/inc/ie6.css"> <![endif]-->
	<meta name="apple-mobile-web-app-capable" content="yes">
  	<meta name="viewport" content="width=1140">
  <link rel="stylesheet" type="text/css" href="/inc/premailer.css">
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-4707751-2");
  <% if @analytics_page %>
  pageTracker._trackPageview('<%= @analytics_page %>');
  <% else %>
  pageTracker._trackPageview();
  <% end %>
  } catch(err) {}</script>
</head>
<body class="code">
<div id="container" class="vcard">
 	<header>
 		<div id="logo"><a href="http://dialect.ca/" rel="home" class="org fn">Dialect</a></div>

		<nav>
		<ul id="nav">
			<li class="first"><a href="http://premailer.dialect.ca/" rel="home">Premailer</a></li>
			<li><a href="http://dialect.ca/#studies" rel="studies">Work</a></li>
			<li><a href="http://dialect.ca/#contact" rel="contact">Contact</a></li>
		</ul>
		</nav>
	</header>

<div id="page">
 
	<div id="content">

    <%= yield %>

  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#process_html').hide();
      $('#process_url_label').click(function () {
        $('#process_url').show();
        $('#process_html').hide();
        $('#content_source').val('url');
      });

      $('#process_html_label').click(function () {
        $('#process_url').hide();
        $('#process_html').show();
        $('#content_source').val('html');
      });

    
    
      $('.premailer_output').click(function () {
        $('.premailer_output').height('auto');
        $(this).height(400);
      
      });
    });
  </script>

<section id="contact">
		<h2>Contact</h2>
		<p><a href="mailto:code@dialect.ca" class="email">code@dialect.ca</a></p>
	</section>

	</div>
</div>
<footer>
	<div>
		<a href="http://dialect.ca/"><img src="http://dialect.ca/inc/logo-sm.png" width="38" height="28" alt="Dialect logo"></a>
		<p id="legal"><a href="http://dialect.ca/code/">Code</a> &bull; Copyright 2011 Dialect Communications Group</p>
	</div>
</footer>
</div>
</body>
</html>