<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Premailer: pre-flight for HTML email</title>
  <meta name="author" content="Dialect (http://dialect.ca/)">
  <meta name="description" content="Premailer: preflight for HTML e-mail.  Makes CSS inline, converts links and warns about unsupported code.">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script type="text/javascript"> document.documentElement.className = 'js'; </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-4707751-2");
  <% if @analytics_page %>
  pageTracker._trackPageview('<%= @analytics_page %>');
  <% else %>
  pageTracker._trackPageview();
  <% end %>
  } catch(err) {}</script>
</head>
<body>
<div class="container">
  <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold"><a href="/" class="text-body">Premailer</a></h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Pre-flight for HTML email.</p>
      </div>
    </div>
</div>

  <%= yield %>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#process_html .toggleable-inputs').hide();
      $('#process_url_label').click(function () {
        $('#process_url .toggleable-inputs').show();
        $('#process_url .btn').addClass('btn-primary').removeClass('btn-secondary');
        $('#process_html .toggleable-inputs').hide();
        $('#process_html .btn').removeClass('btn-primary').addClass('btn-secondary');
        $('#content_source').val('url');
      });

      $('#process_html_label').click(function () {
        $('#process_url .toggleable-inputs').hide();
        $('#process_url .btn').removeClass('btn-primary').addClass('btn-secondary');
        $('#process_html .toggleable-inputs').show();
        $('#process_html .btn').addClass('btn-primary').removeClass('btn-secondary');
        $('#content_source').val('html');
      });

      $('.premailer_output').click(function () {
        $('.premailer_output').height('auto');
        $(this).height(400);

      });
    });
  </script>
</body>
</html>
